data/mgv_sample_info.tsv.gz
uhgg_genomes-nr_metadata.tsv.gz
uhgv_metadata.tsv.gz
uhgv_mgv.fna.gz
.DS_Store
data/uhgv_votus_metadata.tsv.gz
data/mgv_contig_info.tsv.gz
data/ncbi-blast-2.16.0+
scripts/ncbi-blast-2.16.0+
data/uhgv_mgv_blast_db/
data/uhgv_mgv_blast_db.zip
data/single_db/
data/UHGV-1371714.fna
data/test_blast
data/test_blast_ani.txt
data/test.fna
data/shkoporov_2019_VLP_stool_vOTU_abundance.xlsx
data/complete_minimap2/
data/top40_all_proteins_norev_good.tbl.gz
data/top40_all_metadata.tbl.gz
data/uhgv_mgv_otu_fna/
data/annotation_dict.pickle
data/syn_sites_dict_all/
data/syn_sites_dict_all/vOTU-000012.pickle
